@charset "utf-8";
/* Makers Fair 2014 */

/* Base */
body {
	font-family: Arial, sans-serif;
	font-size: 18px;
}
h1 {
	width: 35%;
	margin-top: 0;
}
img {
	width: 100%;
	height: auto;
}
.clear {
	clear: both;
	padding: 0;
	margin: 0;
}
.wrapper {
	background: url('../../assets/images/background.jpg');
	background-size: 100%; 
	background-repeat: no-repeat;
}
.wrapper--top {
	width: 100%;
	overflow: auto;
}
.wrapper--bottom {
	width: 100%;
	overflow: auto;
}
.header {
	padding: 2%;
	width: 30%;
}
/* Wireless Sensor */
.container--ws {
	padding: 2%;
}
.ws--graph {
	float: left;
	min-height: 250px;
	width: 20%;
}
.ws--house {
	position: absolute;
	right: 2%;
	top: 2%;
	padding: 1.5%;
	width: 60%;
}
/* Power Strip */
.container--ps {
	float: left;
	width: 48%;
	margin-left: 2%;
}
.ps-sockets {
	float: left;
	width: 50%;
	padding: 2%;
}
.ps-indicator {
	float: left;
	width: 15%;
	margin-left: 2%;
	padding: 2%;
}
.ps-indicator--off {
	margin-top: 25%;
}
.ps-indicator--on {
	margin-top: 25%;
}
.ps-power {
	float: left;
	margin-top: 28%;
	margin-left: 2%;
}
.power-consumtion {
	color: red;
}
/* House Alarm */
.container--ha {
	width: 45%;
	float: right;
	margin: 2%;
}
.door {
	width: 60%;
	float: left;
	margin-left: 22%;
	margin-top: 15%;
}
.alarm {
	width: 15%;
	float: right;
	margin-top: 5%;
}
