<div>
    <h1>The Bedroom laboratory</h1>

    <h2>Powerstrip</h2>
    <div>
        Voltage : {{powerstrip.voltage}} </br>
        power : {{powerstrip.power}} </br>
        Socket1 : {{powerstrip.socket1}} </br>
        Socket2 : {{powerstrip.socket2}} </br>
        Socket3 : {{powerstrip.socket3}} </br>
        Socket4 : {{powerstrip.socket4}} </br>
        Overrride1 : {{powerstrip.override1}} </br>
        Overrride2 : {{powerstrip.override2}} </br>
        Overrride3 : {{powerstrip.override3}} </br>
        Overrride4 : {{powerstrip.override4}} </br>
    </div>
</div>